<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.reactlibrary">
    <uses-feature android:glEsVersion="0x00030000" android:required="true" />
    <!-- Always needed for AR. -->

    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Indicates that this app requires Google Play Services for AR ("AR Required") and results in
         the app only being visible in the Google Play Store on devices that support ARCore.
         For an "AR Optional" app, remove this tag. -->
    <uses-feature android:name="android.hardware.camera.ar" android:required="true"/>

</manifest>
